.homeContainer {
  padding: 13px;
}
.blogTitle:hover {
  color: rgb(70, 48, 235);
  cursor: pointer;
}
.imageRow {
  width: 100%;
  height: 100%;
}
.commentTitle {
  width: 100%;
  background-color: #f3d02e;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.commentTitle a {
  font-weight: 600;
  color: black !important;
}

.commentContainer {
  margin-bottom: 10px;
}

.commentInput {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: #202223;
  color: white;
  outline: none;
  border: 0px;
}
