@font-face {
  font-family: "Quicksand-VariableFont_wght";
  src: local("Quicksand-VariableFont_wghtr"),
    local("Quicksand-VariableFont_wght"),
    url("./assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand-Bold";
  src: local("Quicksand-Bold"), local("Quicksand-Bold"),
    url("./assets/fonts/Quicksand-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "FredokaOne-Regular";
  src: local("FredokaOne-Regular"), local("FredokaOne-Regular"),
    url("./assets/fonts/FredokaOne-Regular.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(17, 17, 17) !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Quicksand-Bold";
  color: #f3d02e;
}

p {
  font-family: "Quicksand-VariableFont_wght";
  color: rgb(204, 204, 204);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  background-color: gray;
}

.nav-item {
  margin-right: 12px;
}

/* HEADER --------- */
.navbar-image {
  height: 55px;
  border-radius: 31px;
  margin-right: 10px;
  border: 3px solid white;
}

nav ul li a {
  font-family: "FredokaOne-Regular";
  color: white !important;
}
nav ul li a:hover {
  color: gainsboro !important;
  text-decoration-line: underline !important;
  text-decoration-color: #f3d02e !important;
}

.bg-blog {
  background-color: #171818;
}

.logoStyle {
  font-family: "FredokaOne-Regular";
  font-size: 30px !important;
}

@media only screen and (max-width: 404px) {
  .logoStyle {
    font-family: "FredokaOne-Regular";
    font-size: 21px !important;
  }
}

.container {
  width: 65% !important;
  margin: 0 auto;
}

@media only screen and (max-width: 404px) {
  .customNav {
    width: 100% !important;
    margin: 0 auto;
  }
}

.containerInContainer {
  height: 100% !important;
}

/* -------- HEADER FINISH */

/* FOOTER ------------ */

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #171818;
  color: white;
  padding: 15px;
}

.footer a svg {
  font-size: 23px;
  color: white;
  margin-left: 15px;
}

/* -------- FOOTER FINISH */

.globalButton {
  padding: 11px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #171818;
  color: white;
  font-family: "Quicksand-VariableFont_wght";
  border-radius: 21px;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 12px;
}

.globalButton:hover {
  background-color: black;
  color: white;
}
